
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="review-payment">
            <h2>Review & Payment</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td></td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {{#each items.products}}
                    <tr class="{{id}}">
                        <div class="bca">
                            <td class="cart_product">
                                <a href=""><img src={{imagePath.[0]}} alt="" height="200px"></a>
                            </td>
                            <td></td>
                            <td class="cart_description">
                                <h4><a href="">{{title}}</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>${{price}}</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <input type="hidden" id="{{id}}">
                                    <input class="cart_quantity_input" type="text" id="quantity" value="{{quantity}}" autocomplete="off" size="2">
                                    <input type="button" class="editQty btn btn-default update" value="Update">
                                </div>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=javascript:void(0)><i class="fa fa-times"></i></a>
                            </td>
                        </div>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="total_area">
            <ul>
                <h2>Let us deliver you the good stuff</h2>
                <li>Cart Sub Total <span class="subtotal">${{items.total}}</span></li>
                <li>Eco Tax <span>Free</span></li>
                <li>Shipping Cost <span>Free</span></li>
                <li>Total <span class="subtotal">${{items.total}}</span></li>
            </ul>
        </div>

        <div class="signup-form col-sm-offset-1">
            <h2>And please fill in the infomation below too :)</h2>
            <form id="formId" action="/">
                <input type="text" name="name" required placeholder="Name" value={{user.name}}>
                <input type="text" name="address" required placeholder="Address" value={{user.address}} >
                <input type="email" name="email" required placeholder="E-mail" value={{user.email}} >
                <button type="button" id="submit" class="btn btn-default">Deliver</button>
            </form>
        </div>
    </div>
</div>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("button#submit").on('click',function () {
            var currentdate = new Date();
            var data = {
                cart:"{{items}}",
                address: $("#formId").find('input[name="address"]').val(),
                date: currentdate.getHours() + ':' + currentdate.getMinutes() + ' ' + currentdate.getDate() + '/' + currentdate.getMonth()+1 + '/' + currentdate.getFullYear()
            };
            $.ajax({
                url:'/cart/save',
                type: 'POST',
                cache:false,
                data:data,
                success: function (mess) {
                    if(mess !== 'err'){
                        swal("Your bill are rock!!!");
                    }
                }
            })
        });
        //bắt sự kiện click xóa
        $(".cart_quantity_delete").on('click',function () {
            //lấy thông tin id của product hiện tại muốn làm
            var rowId = $(this).parent().parent().parent().find("input").attr('id');
            var temp = $(this).parent().parent().attr('class');
            $.ajax({
                url: '/cart/delete/'+rowId, //url chính là url của route muốn ajax
                type: 'POST', //type là get or post
                cache: false,
                data:{"id":rowId}, //các biến truyền qua
                success: function (data){
                    if(data){ //nếu thành công
                        swal("Success!!!");
                        $('.subtotal').html("$"+data.data);
                        $('.'+ temp).remove();
                    }
                    else{ //không thành công.
                        swal("Oops!","Can not change the value!!!", "error");
                    }
                }
            });
        });
        //bắt sự kiện click của button edit
        $(".editQty").on('click',function(){
            //lấy thông tin id của product hiện tại muốn làm
            var rowId = $(this).parent().parent().parent().find("input").attr('id');
            //lấy số lượng
            var qty = $(this).parent().parent().find("input#quantity").val();
            //alert(qty);
            $.ajax({
                url: '/cart/update/'+rowId+'/'+qty, //url chính là url của route muốn ajax
                type: 'POST', //type là get or post
                cache: false,
                data:{"id":rowId,"qty": qty}, //các biến truyền qua
                success: function (data){
                    if(data){ //nếu thành công
                        $('.alert').text("Success!!!").fadeOut(2000);
                        if(data.data==0){
                            $('.subtotal').html("$");
                        } else{
                            $('.subtotal').html("$"+data.data);
                        }
                    }
                    else{ //không thành công.
                        swal("Oops!","Can not change the value!!!", "error");
                    }
                }
            });
        })
    });
</script>